[Unit]
Description=TrojanX Service for SSPanel-UIM
After=network.target nss-lookup.target
Wants=network.target

[Service]
User=trojan
Type=exec
LimitNOFILE=65535
ExecStart=/usr/bin/trojan-server /etc/trojan-server/sspanel.json
Restart=always

[Install]
WantedBy=multi-user.target