[Unit]
Description=TrojanX Service for SSPanel-UIM
After=network.target nss-lookup.target
Wants=network.target

[Service]
User=root
Group=root
Type=simple
LimitNOFILE=65535
ExecStart=/usr/bin/trojan-server /etc/trojan-server/sspanel.json
Restart=on-failure
RestartSec=5
StartLimitInterval=100s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target